@model Heldu.Models.ProductoCategoria

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.Titulo" class="control-label"></label>
                <input asp-for="Producto.Titulo" class="form-control" />
                <span asp-validation-for="Producto.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Descripcion" class="control-label"></label>
                <input asp-for="Producto.Descripcion" class="form-control" />
                <span asp-validation-for="Producto.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.FechaValidez" class="control-label"></label>
                <input type="date" asp-for="Producto.FechaValidez" class="form-control" />
                <span asp-validation-for="Producto.FechaValidez" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.ImagenProducto" class="control-label"></label>
                <input asp-for="Producto.ImagenProducto" class="form-control" />
                <span asp-validation-for="Producto.ImagenProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.Nombre" class="control-label">Categoría</label>
                <select asp-for="CategoriaId" asp-items="ViewBag.NombreCategoria" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Producto.Precio" class="control-label"></label>
                <input asp-for="Producto.Precio" class="form-control" />
                <span asp-validation-for="Producto.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
